##### String

In [27]:
a, b, c, d = "FastCampus", "데이터사이언스", '데이터"Science', "데이터'Science"
print(type(a), type(b), type(c), type(d))
a, b, c, d

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

('FastCampus', '데이터사이언스', '데이터"Science', "데이터'Science")

In [28]:
ms = """FastCampus
데이터사이언스
Science"""
print(ms)

FastCampus
데이터사이언스
Science

In [29]:
# copy string
a = "Fast " * 4
a

'Fast Fast Fast Fast '

In [30]:
# offset
a = "abcdefghijk"
a[0], a[5], a[-1], a[-5]

('a', 'f', 'k', 'g')

In [31]:
# slice
# str[start:end:step]
a = "abcdefghijk"
a[1:3], a[0:5], a[-3:], a[::2]

('bc', 'abcde', 'ijk', 'acegik')

In [32]:
a = "abcdefghijk"
a[::-1]

'kjihgfedcba'

In [33]:
a = "abcdefghijk"
len(a)

11

In [34]:
a = "abcdefghijk"
a[:len(a)], a[:]

('abcdefghijk', 'abcdefghijk')

In [36]:
# string inner functions
# https://docs.python.org/3/library/stdtypes.html#string-methods

a = "  FAST campus datascience  "

# upper() - 대문자로 변환
print(a.upper())

# lower() - 소문자로 변환
print(a.lower())

  FAST CAMPUS DATASCIENCE
  fast campus datascience

In [1]:
a = "FAST campus"

In [2]:
# find() - 해당 문자열 위치 리턴 (없으면 -1 리턴)
print(a.find("c"))
print(a.find("q"))

# index() - 해당 문자열 위치 리턴  (없으면 value error 리턴)
print(a.index("c"))
print(a.index("q"))

5
-1
5

ValueError: substring not found

In [5]:
# count() - 문자열 갯수 리턴
print(a.count("ca"))

1

In [39]:
# lstrip() - 왼쪽 공백 제거
print(a.lstrip(), end="!\n")

# rstrip() - 오른쪽 공백 제거
print(a.rstrip(), end="!\n")

# strip() - 양쪽 공백 제거
print(a.strip(), end="!\n")

FAST campus datascience  !
  FAST campus datascience!
FAST campus datascience!

In [40]:
# replace() - 특정 문자열 치환
print(a.replace("a","b"))

  FAST cbmpus dbtbscience

In [41]:
# split() - 특정 문자열로 분리하여 리스트 형태로 리턴
print(a.split(" "))

['', '', 'FAST', 'campus', 'datascience', '', '']

In [42]:
# endswith() - 마지막 문자열이 일치하면 True 리턴
print(a.rstrip().endswith("datascience"))

True

In [43]:
# join() - 문자열 리스트를 결합
a = ["fast", "campus", "data", "science"]
print("-".join(a))

fast-campus-data-science

##### List

In [3]:
a = ["fast", "campus", "data", "science"]
b = [1,2,3,4]
c = [1, "fast", True]
print(type(a), type(b), type(c))
a, b, c

<class 'list'> <class 'list'> <class 'list'>

(['fast', 'campus', 'data', 'science'], [1, 2, 3, 4], [1, 'fast', True])

In [45]:

print(a[1], a[-1], a[1:3], a[:], a[::-2])
a[-2] = "pdj"
a

campus science ['campus', 'data'] ['fast', 'campus', 'data', 'science'] ['science', 'campus']

['fast', 'campus', 'pdj', 'science']

In [3]:
# string inner functions

a = ["fast", "campus", "data", "science"]
b = [1,2,3,4]

# append() - 가장 마지막에 데이터 추가
a.append("fighting!")
print(a)

# sort() - 오름차순 정렬
b.sort() # 알파벳 순으로
a.sort(key=len) # 글자 길이 순으로
print(a)
print(b)

# reverse() - 내림차순 정렬
b.reverse()
print(b)

# index() - 데이터 위치 리턴
print(a.index("campus"))

# insert() - 특정 위치에 데이터 추가
a.insert(2, 'index')
a.insert(5, 'index')
print(a)

# remove() - 해당되는 데이터 값을 삭제 (오프셋이 가장 낮은 데이터 하나만 삭제)
a.remove('index')
print(a)

# pop() - 가장 마지막 값을 리턴
print(a.pop())
print(a)

['fast', 'campus', 'data', 'science', 'fighting!']
['fast', 'data', 'campus', 'science', 'fighting!']
[1, 2, 3, 4]
[4, 3, 2, 1]
2
['fast', 'data', 'index', 'campus', 'science', 'index', 'fighting!']
['fast', 'data', 'campus', 'science', 'index', 'fighting!']
fighting!
['fast', 'data', 'campus', 'science', 'index']

In [47]:
# list copy
a = [1,2,3]
b = a
print(a, b)

a[2] = 4
print(a, b)

c = a.copy()
print(a,c)

a[2] = 5
print(a,c)

[1, 2, 3] [1, 2, 3]
[1, 2, 4] [1, 2, 4]
[1, 2, 4] [1, 2, 4]
[1, 2, 5] [1, 2, 4]

In [48]:
a = [1,2,3,4,5]

# offset을 이용하여 데이터 수정
a[1] = "Fast"
print(a)

a[1:4] = "a"
a

[1, 'Fast', 3, 4, 5]

[1, 'a', 5]

##### Tuple

In [49]:
a = 1, 2, 3, 4
b = "fast", "campus", "data", "science"
c = 1, "fast", True
d = (1, "fast", True)
print(type(a), type(b), type(c), type(d))
print(a, b, c, d)

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>
(1, 2, 3, 4) ('fast', 'campus', 'data', 'science') (1, 'fast', True) (1, 'fast', True)

In [50]:
a[2], a[1:3]

(3, (2, 3))

In [51]:
# cannot modify
a[1] = 3

TypeError: 'tuple' object does not support item assignment

In [52]:
# 리스트와 비교한 튜플의 장점
# 리스트보다 더 적은 공간을 사용
# 데이터 수정이 안된다(데이터 선언후 수정되지 않아야 할 경우 유리)
# Dictionary의 key로 사용할수 있다

In [54]:
import sys
ls = [1,2,3,4,5]
print(sys.getsizeof(ls), "byte")
t = tuple(ls)
print(sys.getsizeof(t), "byte")

104 byte
88 byte

##### Dictionary

In [55]:
dic = { 
    1:"one",
    "A": ["data", "science"],
    "숫자": 1234,
    }
print(type(dic))
print(dic)

<class 'dict'>
{1: 'one', 'A': ['data', 'science'], '숫자': 1234}

In [56]:
dic[1] = "하나"
dic["A"] = "알파벳"
dic

{1: '하나', 'A': '알파벳', '숫자': 1234}

In [57]:
# inner functions

# keys() - 키를 리턴
print(dic.keys())

# values() - 값을 리턴
print(dic.values())

# items() - 키와 값을 리턴
print(dic.items())

# clear() - dictionary 데이터를 모두 삭제
dic.clear()
print(dic)

# get() - 매개변수에 해당하는 값을 리턴
dic = { 
    1:"one",
    2:"two",
    3:"three",
    }
print(dic.get(2))
print(dic.get(4))
# print(dic[4]) 
print(dic.get(4,"no_data")) # get을 사용하면 error를 예방할수 있다.

# copy() - 리스트와 마찬가지로 다른 저장공간을 가지는 데이터를 대입한다.
dic2 = dic
print(dic, dic2)
dic[1] = "하나"
print(dic, dic2)
dic3 = dic.copy()
dic[1] = "A"
print(dic, dic3)

# update() - 데이터를 업데이트
a = {1:"a", 2:"b"} 
b = {2:"c", 3:"d"}
print(a)
a.update(b)
print(a)

dict_keys([1, 'A', '숫자'])
dict_values(['하나', '알파벳', 1234])
dict_items([(1, '하나'), ('A', '알파벳'), ('숫자', 1234)])
{}
two
None
no_data
{1: 'one', 2: 'two', 3: 'three'} {1: 'one', 2: 'two', 3: 'three'}
{1: '하나', 2: 'two', 3: 'three'} {1: '하나', 2: 'two', 3: 'three'}
{1: 'A', 2: 'two', 3: 'three'} {1: '하나', 2: 'two', 3: 'three'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'c', 3: 'd'}

##### quiz 1

아래의 데이터를 딕셔너리 형태의 데이터로 만드시오

- 학생 A - 수학 : 80, 영어 : 100, 과학 : 90
- 학생 B - 수학 : 70, 영어 : 100, 과학 : 100
- { 'A': {'과학': 90, '수학': 80, '영어': 100}, 'B': {'과학': 100, '수학': 70, '영어': 100}} (결과)

In [1]:
data = {
    # TODO
}
data

{'A': {'과학': 90, '수학': 80, '영어': 100}, 'B': {'과학': 100, '수학': 70, '영어': 100}}

##### Set

In [58]:
s = set([1,2,3,4,5,1,2,3])
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5}

In [59]:
# Set (집합)
s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

# intersection (교집합)
print(s1 & s2)
print(s1.intersection(s2)) # 함수로도 표현 가능

# union (합집합)
print(s1 | s2)
print(s1.union(s2))

# difference (차집합)
print(s1 - s2)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

In [60]:
s = list(s)
s[4] = 10
s = set(s)
s

{1, 2, 3, 4, 10}

### (4) 데이터 형변환 ( Data Type Conversion)
- boolean

In [61]:
# convert to int from string
s = "1234"
n = int(s)
print(type(n), n)

<class 'int'> 1234

In [62]:
# convert to string from int
n = 1234
s = str(n)
print(type(s), s)

<class 'str'> 1234

In [63]:
# 숫자가 아닌 문자열의 형변화는 불가능
s = "a"
n = int(s)
print(type(n), n)

ValueError: invalid literal for int() with base 10: 'a'

In [64]:
# boolean 형변환
print(bool(""), bool("asedf"))
print(bool(-1), bool(0), bool(1), bool(0.0), bool(0.1))
a, b = [], [1,2]
print(bool(a), bool(b))

False True
True False True False True
False True

In [65]:
a, b = [], [1,2,3]

if len(a) > 0:
    print(a)
else:
    print("no_data")

if b:
    print(b)
else:
    print("no_data")

no_data
[1, 2, 3]

In [66]:
# convert to list from string
s = "fast"
ls = list(s)
print(ls)

['f', 'a', 's', 't']

In [67]:
# convert to tuple from dictionary
d = {1:"one", 2:"two"}
t = tuple(d)
print(t)
t = tuple(d.items())
print(t)

(1, 2)
((1, 'one'), (2, 'two'))

In [68]:
# convert to dict from tuple
t = ((1,"one"),(2,"two"))
dict(t)

{1: 'one', 2: 'two'}

### 연산자 ( Operator )

- 연산자의 종류
    - 산술 연산자 (Arithmetic Operators) : `+, -, *, /, //, %, **`
    - 비교 연산자 (Comparison Operators) : `==, !=, >, <, =>, =<`
    - 할당 연산자 (Assignment Operators) : `=, +=, -=, *=, /=, %=, //=, **=`
    - 비트 연산자 (Bitwise Operators) : `&, |, ^, ~, <<, >>`
    - 논리 연산자 (Logical Operators) : `and, or, not`
    - 멤버 연산자 (Membership Operators) : `in, not in` 
    - 식별 연산자 (Identity Operators) : `is, is not`

In [69]:
# 산술 연산자
# +, -, *, /, //, %, **

print(2 + 4)
print(2 - 4)
print(2 * 4)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(3 ** 4)

6
-2
8
3.3333333333333335
3
1
81

In [70]:
# 비교 연산자
# ==, !=, >, <, >=, <=

a, b = 10, 20

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [71]:
# 할당 연산자
# =, +=, -=, *=, /=, %=, //=, **=

a = 5
print(a)

a += 10
print(a)

a -= 5
print(a)

a *= 10
print(a)

a /= 5
print(a)

a %= 8
print(a)

a //= 2
print(a)

a **= 3
print(a)

5
15
10
100
20.0
4.0
2.0
8.0

In [72]:
# 비트 연산자
# &, |, ^, ~, <<, >>

a = 3 # 011
b = 5 # 101

print(a&b, bin(a&b))
print(a|b, bin(a|b))
print(a^b, bin(a^b))
print(~a, bin(~a))
print(~b, bin(~b))
print(a<<2, bin(a<<2))
print(b>>1, bin(b>>1))

1 0b1
7 0b111
6 0b110
-4 -0b100
-6 -0b110
12 0b1100
2 0b10

In [73]:
# 논리 연산자
# and, or, not

print( True and True )
print( True and False )

print( True or True )
print( True or False )

print( not(True and True) )
print( not(True and False) )

True
False
True
True
False
True

In [74]:
# 멤버 연산자
a = [1,2,3,4]
print(1 in a)
print(5 in a)
print(1 not in a)

True
False
False

In [75]:
# 식별 연산자
# is, is not
a = [1,2,3]
b = a
print( a is b )

a = [1,2,3]
b = a.copy()
print( a is b )

print( a is not b )

True
False
True

In [76]:
# 식별 연산자
# is, is not
a = "a"
b = a
print( a is b )

b = "a"
print( a is b )

print( a is not b )

True
True
False

##### quiz 2
- 리스트 중복 제거후 내림차순으로 정렬

In [77]:
# 아래의 리스트를 중복을 제거하고 내림차순으로 정렬하세요.
ls = [1, 5, 2, 8, 6, 4, 3, 6, 4]

In [81]:
# TODO

[8, 6, 5, 4, 3, 2, 1]

##### quiz 3
- Arrange
- 문장을 단어의 글자수가 낮은 단어 순서대로 재 나열 하시오
- 문장의 첫 글자는 대문자이고 마지막은 마침표가 항상 있습니다.

결과 예시
- The lines are printed in reverse order. (입력)
- In the are lines order printed reverse. (결과)

힌트
- 단어수대로 리스트를 오름차순으로 정렬하는 방법
```
ls = ["abc","a","ab"]
ls.sort(key=len)
```

In [86]:
sentence = "The lines are printed in reverse order."
# TODO

'In the are lines order printed reverse.'

In [1]:
mar= ['grouch',"hello", "python"]
joe=["kim","lee","hwa"]
mar.extend(joe)
mar

['grouch', 'hello', 'python', 'kim', 'lee', 'hwa']

In [14]:
mar= ['grouch',"hello", "python"]
joe=["kim","lee","hwa"]
mar += joe
mar

['grouch', 'hello', 'python', 'kim', 'lee', 'hwa']

In [15]:
del mar[:2]
mar

['python', 'kim', 'lee', 'hwa']

In [16]:
mar.remove("kim")
mar

['python', 'lee', 'hwa']

In [17]:
"lee" in mar

True

In [18]:
mar.count("python")

1

In [19]:
mar.count("pytho1")

0

In [21]:
mar.sort(reverse=True)
mar

['python', 'lee', 'hwa']

In [ ]:
mar.sorted